<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SINGLE</title>
</head>
<body>
    <p>Title:<%=book.title%></p>
    <h1>Summary:<%=book.summary%></h1>
    <h2>Pages:<%=book.pages%></h2>
    <h2>Publication:<%=book.publication%></h2>
    <!-- <h2>CoverImage:<%=book.coverImage%></h2> -->
    
    <%book.authorId.forEach((author)=>{ %>
        <p><%=author.name%></p>
   <% })%>
    <h1>Author</h1>
    <form action="/books/<%=book._id%>/author" method="POST">
        <input type="text" name="name" id="name" placeholder="Name">
        <input type="text" name="email" id="email" placeholder="Email">
        <input type="text" name="country" id="country" placeholder="Country">
        <button type="submit">Submit</button>
    </form>
    <h1>category</h1>
    <form action="/books/<%=book._id%>/category" method="POST">
        <input type="text" name="fiction" id="fiction" placeholder="Fiction">
        <input type="text" name="adventure" id="adventure" placeholder="Adventure">
        <input type="text" name="technology" id="technology" placeholder="Technology">
        <input type="text" name="motivation" id="motivation" placeholder="Motivation">
        <button type="submit">Submit</button>
    </form>
</body>
</html>








<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <a href="">
      <h1>Book Details Page</h1>
    </a>
    <a href="/books">
      <h2>List of Books</h2>
    </a>
  </header>
  <main>
    <div>
      <h2> <%= book.title%></h2>
      <h2> <%= book.summary%></h2>
      <h2> <%= book.pages%></h2>
      <h2> <%= book.publication%></h2>
      <h2> <%= book.category%></h2>
    </div>
    <div>
      <h2> author:</h2>
        <p><%= book.author.name %></p>
        <p><%= book.author.email %></p>
        <p><%= book.author.country %></p>
    </div>
    <div>
       <a href="/books/<%= book._id %>/delete">
         <button>Delete</button>
       </a>
    </div>
   
  </main>
</body>
</html> -->