<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <a href="/">
      <h2>Books details page</h2>
    </a>
    <nav>
      <a href="/books">
        <button>List of Books</button>
      </a>
    </nav>
  </header>
  <main>
    <div>
      <h2> <%= book.title %> </h2>
      <h3> <%= book.description %> </h3>
      <h4> Price:<%= book.price%> </h4>
      <h4> <%= book.author%> </h4>
    </div>
     <!-- <div>
       <h3><%= book.likes ? book.likes:0 %></h3>
      <a href="/books/<%= book._id %>/likes ">
        <button>like</button>
      </a>
    </div> -->
     <div>
      <a href="/books/<%= book._id %>/edit">
        <button>Edit</button>
      </a>
    </div>
    <div>
      <a href="/books/<%= book._id %>/delete ">
        <button>Delete</button>
      </a>
    </div>

    <div>
      <form action="/books/<%= book._id %>/comments" method="POST">
        <textarea name="content" id="" cols="30" rows="3" placeholder="Add comment..."></textarea>
        <input type="submit" value="add comment">
      </form>
    </div>

    <div>
      <h3>Comments...</h3><hr>
    </div>
    <div>
     <% book.comments.forEach(comment=>{ %>
       <p><%= comment.content %></p>
       <a href="/comments/<%= comment.id %>/edit">
         <button>Edit</button>
       </a>
       <a href="/comments/<%= comment.id %>/delete">
         <button>Delete</button>
       </a>
     <% }) %>
    </div>

    
  </main>
</body>
</html>