<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>users</title>
</head>
<body>
  <header>
   <div>
     <h1>users portal</h1>
     <nav>
       <a href="/users">
         <button>Back</button>
       </a>
     </nav>
    </div>
  </header>
  <main>
    <div>
      <form action="/users/<%= article.id %>" method="POST">
        <h2>Add user</h2>
        <input type="text" name="title" placeholder="add title" value="<%= article.title %>">
        <input type="text" name="description" placeholder="add description" value="<%= article.description %>">
        <input type="text" name="tags" placeholder="tags" value="<%= article.tags %>">
        <input type="text" name="author" placeholder="author" value="<%= article.author %>">
        <input type="submit" value="submit">
      </form>
    </div>
  </main>

</body>
</html>